﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Video Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("New Rental", "New", "Rentals")
            @Html.ActionLink("Customers", "Index", "Customers")
            @Html.ActionLink("Movies", "Random", "Movies")
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("New Rental", "New", "Rentals")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Movies", "Random", "Movies")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
